<p id="notice"><%= notice %></p>

<h6><strong>Tickets</strong></h6>

<table class="table" style="cursor: pointer">
  <thead class="thead-light">
    <tr>
      <th onclick="window.location='<%= tickets_path %>?order_by=id'">ID</th>
      <th onclick="window.location='<%= tickets_path %>?order_by=title'">Title</th>
      <th onclick="window.location='<%= tickets_path %>?order_by=category'">Category</th>
      <th onclick="window.location='<%= tickets_path %>?order_by=priority'">Priority</th>
      <th onclick="window.location='<%= tickets_path %>?order_by=aasm_state'">State</th>
      <th onclick="window.location='<%= tickets_path %>?order_by=assignee_id'">Assignee</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.order(params[:order_by] || :id).each do |ticket| %>
      <tr onclick="window.location='<%= ticket_path(ticket) %>'">
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.aasm_state %></td>
        <td><%= ticket.assignee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-light' %>
