<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Category</th>
      <th>Priority</th>
      <th>State</th>
      <th>Assignee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr style="cursor: pointer" onclick="window.location='<%= ticket_path(ticket) %>'">
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.aasm_state %></td>
        <td><%= ticket.assignee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path, class: 'button' %>
