<p id="notice"><%= notice %></p>

<div class="btn-group float-right">
  <% @ticket.aasm.events(permitted: true).map(&:name).each do |event| -%>
    <div class="col-sm">
      <%= button_to event.to_s.split('_').map { |w| w.capitalize}, { action: event }, { class: 'btn btn-info' } %>
    </div>
  <% end %>
</div>

<h6><strong>State:</strong> <%= @ticket.aasm_state %></h6>

<div>
  <%= render 'form', ticket: @ticket %>
</div>

<h6><strong>Comments</strong></h6>

<table class="table">
  <tbody>
  <% @ticket.comments.map.each do |comment| -%>
    <tr>
      <td><%= comment.updated_at %></td>
      <td><%= comment.body %></td>
      <td><%= comment.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_for Comment.new do |form| %>
  <div class="form-group">
    <%= form.text_area :body, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-dark' %>
  </div>
<% end %>

<%= link_to 'Back', tickets_path,  class: 'btn btn-light' %>